{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <p>Through journaling and time in reflection, we can dig into the roots of emotional, physical and mental habits and states. To better understand yourself and the world around you, it is necessary to reflect on your experiences and what they mean, how they were interpreted by you, and how they could be interpreted otherwise. Journaling will bring you closer to the truth of life and the comfort and contentment in accepting what is.</p>
{% endblock %}
